<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <p><strong>Únete al grupo</strong> simplemente enviando una petición al <a href="https://www.facebook.com/groups/sevilladevelopers/">grupo de Facebook</a>.</p>
      </div>
      <div class="col l4 s12">
        <p><strong>Diviértete</strong> y respeta a los demás miembros del grupo.</p>
      </div>
      <div class="col l4 s12">
        <p><strong>Colabora</strong> haciendo Fork a <a href="https://github.com/SevillaDevelopers/sevilladevelopers.github.io">este repositorio</a>, haz los cambios necesarios y envía Pull Request.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Copyright © {{ site.time | date: '%Y' }} Sevilla Developers User Group | All rights reserved. Made with <i class="tiny material-icons">favorite</i> and vitamine K.
    </div>
  </div>
</footer>
