<header>
  <section class="nav">
    <div class="container">
      <div class="row">
        <div class="col l2 s12">
          <img src="{{ '/assets/img/sevilla-developers-icon.png'| prepend: site.baseurl }}" alt="" width="80px">
        </div>
        <div class="col l10 s12">
          <ul>
            <li>
              <a href="index.html#qué-es-sevilladevelopers">¿Qué es SevillaDevelopers?</a>
            </li>
            <li>
              <a href="index.html#cómo-lo-hacemos">¿Cómo lo hacemos?</a>
            </li>
            <li>
              <a href="index.html#dónde-encontrarnos">¿Dónde encontrarnos?</a>
            </li>
            <li>
              <a href="index.html#cómo-colaborar">¿Cómo colaborar?</a>
            </li>
            <li>
              <a href="index.html#cosas-que-hace-la-gente-en-sevilla">¿Qué hacemos?</a>
            </li>
            <li>
              <a href="lugares.html#lugares">Lugares</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="banner">
    <div class="index-banner">
      <div class="section no-pad-bot">
        <div class="container">
          <img src="{{ '/assets/img/banner.png' | prepend: site.baseurl }}" alt="">
          <h1 class="header center">{{ site.title }}</h1>
        </div>
      </div>
    </div>
  </section>
</header>