---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:300,500";


html {
  color: #222222;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  
  @media only screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

body{
  h2, h3, h4{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #444;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  ul, ul:not(.browser-default), ul li, ul:not(.browser-default) li {
    list-style: disc;
    padding-left: 10px;
    margin-left: 5px;
  }

  header {
    @media (max-width: 600px) { text-align: center; }

    background-color: #213256;

    .nav {
      padding-top: 30px;

      ul {
        display: flex;
        float: right;
        flex-flow: row wrap;
        justify-content: center;
        list-style: none;
        margin-left: 0px;
        padding-left: 0px;
        white-space: nowrap;

        li {
          float: left;
          list-style: none;
          margin-left: 15px;
          padding-left: 0px;

          a {
            color:#FFFFFF;
            font-family: "Roboto Condensed", sans-serif;
            font-weight: 700;
          }
        }
      }
    }

    #banner {
      .index-banner{
        text-align: center;
        padding-bottom: 50px;
        img{
          width: 100%;
          margin-top: 30px;
        }
        h1{
          font-size: 39px;
          line-height: 50px;
          font-weight: 200;
          margin-top: 20px;;
          color: #FFFFFF;
          strong{
            font-weight: 500;
          }
        }
      }
    }
  }

  #features {
    margin-bottom: 4em;
  }

  footer.page-footer {
    background-color: #213256;
    color: #fff;


    a {
      color: #fff;
      font-weight: 300;
      text-decoration: underline;
    }

    .footer-copyright {
      height: 80px;
      line-height: 80px;

      a {
        color: #fff;
      }
    }
  }
}
